<form method="POST" enctype="multipart/form-data">
    <div>
        <label> Image1:
            <input type="file" name="image">
        </label>
        </div>
        <div>
        <label> Image2: </label>
             <input type="file" name="image">
        </div>
        <div>
        <label> Image3: </label>
            <input type="file" name="image">
        </div>
        <div>
             <label> Ataskaita:</label>
            <input type="file" name="ataskaita">
        
        </div>
        <button type="submit">
            Patvirtinti
        </button>
    </form>
