{{#if info}}
    <div style="background: red; padding: 5rem">
        {{info}}
    </div>
{{/if}}
       <form method-"POST">
        <label> Pavadinimas:
            <input type="text" name="post_title">
        </label>
        <label> Turinys:
            <input type="text" name="post_content">
        </label>
        <label> Data:
            <input type="text" name="date">
        </label>
        <button type="submit">
            Patvirtinti
        </button>
    </form>

